
[iad]
user = m0lt3n
token = AUTH_TOKEN_CHANGEME
account = 724740
image = 598a4282-f14b-4e50-af4c-b3e52749d9f9
flavor = performance1-8

region = IAD

auth_url = https://identity.api.rackspacecloud.com/v2.0/
auth_system = rackspace
use_auth_plugin = True

